.StockPageContainer{
  display: flex;
  flex-direction: column;
  margin: 30px;
  animation: StockPageContainer 3000ms ease-out forwards;
}

@keyframes StockPageContainer {
  0% {
    opacity: 0;
    transform: translateY(-100px)
  }
  50% {
    transform: translateY(30px)
  }
  100% {
    transform: translateY(0px)
  }
  
}